/* Breakpoint for medium viewport */

@include media-breakpoint-down(xs) {
    footer {
        p {
            text-align: center;
        }
        .float-right {
            float: none !important;
        }
    }
    .why-isee-border {
        p {
            padding: 0;
        }
    }
    .slider-content-inner{
        padding: 0 !important;
    }
    figure {
        margin: 2rem 0px 1rem;
    }
    .home-swiper .slider-title{
        font-size: 50px;
    }
    .team-member.team-bubble .team-member-thumbnail .team-member-thumbnail-inner {
        width: 120px;
        height: 120px;
        overflow: hidden;
        top: 50px;
    }
    .team-member.team-bubble .team-member-thumbnail .team-bubble-one {
        background: #E4EDF7;
        width: 220px;
        height: 220px;
        top: 0;
        left: 0;
    }
    .team-member.team-bubble .team-member-thumbnail .team-bubble-two {
        background: #D1E3F6;
        width: 170px;
        height: 170px;
        top: 25px;
    }
}