/* Bootstrap Variables Goes Here */

// Colors
//
// Grayscale and brand colors for use across Bootstrap.
// Start with assigning color names to specific hex values.
$white: #fff !default;
$black: #000 !default;
$red: #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green: #5cb85c !default;
$blue: #0275d8 !default;
$teal: #5bc0de !default;
$pink: #ff5b77 !default;
$purple: #613d7c !default;
// Create grayscale
$gray-dark: #292b2c !default;
$gray: #464a4c !default;
$gray-light: #636c72 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;
// Reassign color vars to semantic color scheme
$brand-primary: $blue !default;
$brand-success: $green !default;
$brand-info: $teal !default;
$brand-warning: $orange !default;
$brand-danger: $red !default;
$brand-inverse: $gray-dark !default;
// Options
//
// Quickly modify global styling by enabling or disabling optional features.
$enable-rounded: true !default;
$enable-shadows: false !default;
$enable-gradients: false !default;
$enable-transitions: true !default;
$enable-hover-media-query: false !default;
$enable-grid-classes: true !default;
$enable-print-styles: true !default;
// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.
$spacer: 1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
// Style anchor elements.
$link-color: $brand-primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
// Fonts
//
// Font, line-height, and color for body text, headings, and more.
$font-family-sans-serif: -apple-system,
system-ui,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
sans-serif !default;
$font-family-serif: Georgia,
"Times New Roman",
Times,
serif !default;
$font-family-monospace: Menlo,
Monaco,
Consolas,
"Liberation Mono",
"Courier New",
monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg: 1.25rem !default;
$font-size-sm: .875rem !default;
$font-size-xs: .75rem !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;
$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;
$headings-margin-bottom: ($spacer / 2) !default;
$headings-font-family: inherit !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;
// Components
//
// Define common padding and border radius sizes and more.
$line-height-lg: (4 / 3) !default;
$line-height-sm: 1.5 !default;
$border-radius: .25rem !default;
$border-radius-lg: .3rem !default;
$border-radius-sm: .2rem !default;
$component-active-color: $white !default;
$component-active-bg: $brand-primary !default;
$caret-width: .3em !default;
$transition-base: all .2s ease-in-out !default;
$transition-fade: opacity .15s linear !default;
$transition-collapse: height .35s ease !default;
// Buttons
//
// For each of Bootstrap's buttons, define text, background and border color.
$btn-padding-x: 1rem !default;
$btn-padding-y: .5rem !default;
$btn-line-height: 1.25 !default;
$btn-font-weight: $font-weight-normal !default;
$btn-box-shadow: inset 0 1px 0 rgba($white, .15),
0 1px 1px rgba($black, .075) !default;
$btn-focus-box-shadow: 0 0 0 2px rgba($brand-primary, .25) !default;
$btn-active-box-shadow: inset 0 3px 5px rgba($black, .125) !default;
// Forms
$input-padding-x: .75rem !default;
$input-padding-y: .5rem !default;
$input-line-height: 1.25 !default;
$input-bg: $white !default;
$input-bg-disabled: $gray-lighter !default;
$input-color: $gray !default;
// Dropdowns
//
// Dropdown menu container and contents.
$dropdown-min-width: 10rem !default;
$dropdown-padding-y: .5rem !default;
$dropdown-margin-top: .125rem !default;
$dropdown-bg: $white !default;
$dropdown-border-color: rgba($black, .15) !default;
$dropdown-box-shadow: 0 .5rem 1rem rgba($black, .175) !default;
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap/scss/bootstrap";
@import "other/font-fix";
//font-family
@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-SemiBold;
    src: url(../fonts/Open_Sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-bold;
    src: url(../fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../fonts/Poppins/Poppins-SemiBold.ttf);
}

body {
    padding-top: 70px;
    font-family: OpenSans-Regular;
    font-size: 14px;
}

img.loading {
    text-align: center;
    opacity: 1;
    width: 32px !important;
    height: auto;
}

img {
    opacity: 0;
    transition: all 300ms ease;
}

img.doneLoading {
    opacity: 1;
}

nav li:hover .dropdown-menu {
    display: block;
}

#map img {
    opacity: 1;
}

a,
.btn,
[ui-sref] {
    cursor: pointer;
    transition: all ease 300ms;
}

footer {
    font-size: 12px;
    background-color: #eee;
    padding: 10px 0;
    p {
        margin: 0;
    }
}

//fonts
h1 {
    font-size: 3rem; //48px
    font-weight: normal;
}

h2 {
    font-size: 2rem; // 32px;
    font-weight: normal;
}

h3 {
    font-size: 1.625rem; // 26px
    font-weight: normal;
}

h4 {
    font-size: 1.25rem; //20px;
}

h5 {
    font-size: 1.125rem; //18px;
    font-weight: normal;
}

h6 {
    font-size: 1rem; // 16px;
    font-weight: bold;
}

//color classe
.white-color {
    color: white;
}

//button
.btn-rounded {
    border-radius: 100px !important;
}

//font-family class
.Poppins-Regular {
    font-family: Poppins-Regular;
}

.Poppins-bold {
    font-family: Poppins-bold;
}

.Poppins-SemiBold {
    font-family: Poppins-SemiBold;
}

.OpenSans-Regular {
    font-family: OpenSans-Regular;
}

.OpenSans-SemiBold {
    font-family: OpenSans-SemiBold;
}

//bootstrap forms
.input-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.btn,
.form-control {
    border-radius: 0;
    box-shadow: none;
}

.form-control:focus {
    border-color: $brand-primary;
    outline: 0;
    box-shadow: none;
}

.form-group {
    position: relative;
}

.form-invalid {
    color: $brand-danger;
    .form-control {
        border-color: $brand-danger;
        color: $brand-danger;
        &::-webkit-input-placeholder {
            color: $brand-danger;
        }
    }
}

.form-submission {
    min-height: 300px;
}

//FLEX SLIDER FIXES
.flex-direction-nav {
    a {
        height: auto;
    }
    .flex-prev {
        left: 10px !important;
    }
    .flex-next {
        right: 10px !important;
    }
}

.content {
    min-height: 450px;
}

.img-full {
    width: 100%;
    display: block;
}

header {
    transition: all 300ms ease;
}

.nav-up {
    transform: translateY(-100%);
}

.navbar-expand-md .navbar-nav .nav-link {
    padding: 0 1.5em;
}

.fa-svg-icon {
    display: inline-block;
    vertical-align: middle;
    min-width: 1em;
    min-height: 1em;
    height: 100%;
    position: relative;
    top: -1px;
}

//rating
.fa-svg-icon svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

//swiper
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/*===================================
=            Team Member            =
===================================*/

.team-member {
    margin-bottom: 30px;
}

.team-member .team-bubble-one,
.team-member .team-bubble-two {
    display: none;
}

.team-member .team-social-icons .social-links li {
    display: inline-block;
    padding: 0.5em;
    color: #00BAF4;
}

.team-member .team-social-icons .social-links li a {
    display: block;
    padding: 0 10px;
}

.team-member .team-social-icons .social-links li a::before {
    font-family: FontAwesome;
}

.team-member .team-social-icons .social-links li a[href*="facebook.com"]::before {
    content: "\f09a";
}

.team-member .team-social-icons .social-links li a[href*="instagram.com"]::before {
    content: "\f16d";
}

.team-member .team-social-icons .social-links li a[href*="twitter.com"]::before {
    content: "\f099";
}

.team-member .team-social-icons .social-links li a[href*="linkedin.com"]::before {
    content: "\f0e1";
}

.team-member .team-social-icons .social-links li a[href*="plus.google.com"]::before {
    content: "\f0d5";
}

.team-member .team-member-thumbnail img {
    max-width: 100%;
}

.team-member.team-bubble {
    text-align: center;
    cursor: pointer;
    padding-top: 38px;
    margin-bottom: 30px;
}

.team-member.team-bubble .team-member-thumbnail {
    position: relative;
    height: 220px;
    margin: 0 0 15px;
}

.team-member.team-bubble .team-member-thumbnail .team-member-thumbnail-inner {
    width: 120px;
    height: 120px;
    overflow: hidden;
    top: 50px;
}

.team-member.team-bubble .team-member-thumbnail .team-social-icons {
    display: none;
}

.team-member.team-bubble .team-member-thumbnail .team-member-thumbnail-inner,
.team-member.team-bubble .team-member-thumbnail .team-bubble-one,
.team-member.team-bubble .team-member-thumbnail .team-bubble-two {
    display: block;
    position: absolute;
    border-radius: 100%;
    transition: all 0.2s linear;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.team-member.team-bubble .team-member-thumbnail .team-bubble-one {
    background: #E4EDF7;
    width: 220px;
    height: 220px;
    top: 0;
}

.team-member.team-bubble .team-member-thumbnail .team-bubble-two {
    background: #D1E3F6;
    width: 170px;
    height: 170px;
    top: 25px;
}

.team-member.team-bubble .team-member-description .team-member-title {
    font-size: 16px;
    color: #67666A;
    margin: 0 0 10px;
}

.team-member.team-bubble .team-member-description .team-member-position {
    font-size: 12px;
    color: #807F83;
}

.team-member.team-bubble .team-member-description .social-links {
    padding: 0;
    margin: 9px 0 0;
}

.team-member.team-bubble:hover .team-bubble-one,
.team-member.team-bubble:hover .team-bubble-two {
    transform: scale(1.1);
}

/*=====  End of Team Member  ======*/

//header //
header {
    ul>li>a {
        font-family: OpenSans-Regular;
        color: #424143;
        font-size: 12px;
    }
    .navbar-light .navbar-nav .active>.nav-link,
    .navbar-light .navbar-nav .nav-link:hover,
    .navbar-light .navbar-nav .nav-link:focus {
        color: #00BAF4;
    }
}

//home page swiper
.title-title {
    font-size: 26px;
    color: #424143;
    margin: 0 0 15px;
    font-family: Poppins-SemiBold;
}

.sub-title {
    font-family: Poppins-Regular;
}

.home-swiper {
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 100% !important;
        height: 500px;
    }
    .slider .slider-content .slider-content-inner {
        display: table-cell;
        vertical-align: middle;
    }
    .slider-title {
        font-size: 72px;
        font-weight: bold;
        color: white;
        margin: 0;
        text-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
        font-family: Poppins-bold;
    }
    .slider .slider-content .slider-description {
        color: #E5E4E6;
        padding: 0;
        font-weight: 500;
        font-size: 22px;
    }
}

//hexagon css
.icon-box-hexagon .icon-box-icon {
    width: 100px;
    margin: 35px auto 38px;
    border-radius: 10px;
    color: #FFF;
    height: 60px;
    line-height: 60px;
    text-align: center;
    display: block;
    position: relative;
    text-shadow: none;
    transition: all 0.35s linear;
    background: #424143;
    font-size: 20px;
}

.icon-box-hexagon .icon-box-icon::before,
.icon-box-hexagon .icon-box-icon::after {
    z-index: 0;
    top: -15px;
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    transform: scaleX(1.7) rotate(45deg);
    background: inherit;
    left: 23px;
    border-radius: 10px 24px;
    cursor: pointer;
}

.icon-box-hexagon .icon-box-icon::before {
    top: 24px;
}

.icon-box-hexagon .icon-box-icon .icon-box-icon-container {
    position: absolute;
    z-index: 3;
    text-align: center;
    cursor: pointer;
}

.icon-box .icon-box-icon-container {
    height: 100%;
    width: 100%;
    display: table;
}

.icon-box-small {
    position: relative;
}

.icon-box-small .icon-box-icon {
    width: 45px;
    height: 45px;
    background: #424143;
    position: absolute;
    left: 0;
    top: 18px;
    border-radius: 3px;
    text-align: center;
    transform: rotate(45deg);
    transition: all 0.3s ease;
}

.icon-box .icon-box-icon {
    color: #FFF;
}

.icon-box-small .icon-box-description {
    margin: 0 0 0 75px;
}

.icon-box-small .icon-box-icon .icon-box-inner-icon {
    transform: rotate(-45deg);
    display: table-cell;
    vertical-align: middle;
}

.icon-box .icon-box-icon-container .icon-box-inner-icon .fa {
    padding-top: 5px;
    display: table-cell;
    vertical-align: middle;
}

//home page why isee
.alternate-bg {
    background-color: #f7f7f7;
}

.entry-title {
    font-family: Poppins-Regular;
}

//scss for contact-sec
.contact-sec {
    span {
        color: red;
    }
    label {
        font-family: OpenSans-SemiBold;
    }
}